{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="{{ url_for('frontend.static', filename='js/google.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('frontend.static', filename='images/favicon.ico') }}">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/style.css') }}">
{% endblock %}

{% block body_attribs %}
    ng-app="aqx"
{% endblock body_attribs %}
{% block body %}

    {% block navbar %}
        {% if session.uid %}
            {{ nav.member.render(renderer='nav_renderer') }}
        {% else %}
            {{ nav.guest.render(renderer='nav_renderer') }}
        {% endif %}
    {% endblock %}

    {% block feature %}
    {% endblock %}

    <!-- Error Flash Message Propagation -->
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>


    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}


    {% block scripts %}
        {{ super() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="{{ url_for('frontend.static', filename='js/moments.js') }}"></script>
        <script src="{{ url_for('frontend.static', filename='js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('frontend.static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('frontend.static', filename='js/add_post_link.js') }}"></script>

        <script>

        </script>

    {% endblock scripts %}

{% endblock %}

