
 body {
         background: url(../images/4c.jpg);
         width:100%;
         max-width: 100%;
         margin: 2em 0;
         padding: 0px;
    }
    
 ul.master_navigation
    {
        font-size: 100%;
        font-weight: bold;
        color:black;
        text-align: center;
        list-style: none;
        margin: 1em 0;
        padding: 0;
      
        
    }

    ul.master_navigation li
    {
        display: inline-block;
        padding: 0 0.5%;
    }

     ul.my_navigation
    {
        font-size: 30px;
        font-weight: bold;
        text-align: justify;
        list-style: none;
        margin: 1em 0;
        padding: 0;
    }


    ul.my_navigation li
    {
        display: inline-block;
        padding: 0 1.2%;
    }
    a
    {
        color: blue;
        font-weight: bold;
        text-decoration: none;
    }

    a:visited
    {
        color: #000066;
    }

    a:hover
    {
        color: white;
    }

    p
    {
        text-align: justify;
    }

    p.serif {
    font-family: "Times New Roman", Times, serif;
}

    p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
    h2 {
    font-size: 20px;
    }


   

    .pad {
        padding: 10px;
    }

    #header {
    font-size:150%;
    color:black;
    text-align:center;
    padding:0px;
    
}
#nav {
    line-height:30px;
    height:100%;
    width:12%;
    float:left;
    padding:10px;	      
}
#section {
    height: 100%;
    width: 40%;
    float: left;
    padding: 10px;
    text-align:justify;
}

#ImageSection {
    height: 100%;
    width: 40%;
    float: left;
    padding: 15px;
}

.med{
      border : 2px solid  #1C1C1C;
    
}


#footer {
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

