{% block content %}

    {% if posts %}
        {% for row in posts %}
            {% if row.post and row.user and (row.user.sql_id == session['uid']
                or (not privacy_info.user_relation or (row.post.privacy == "public"
                or privacy_info.user_relation.lower() == row.post.privacy
                or (row.post.privacy == "friends" and privacy_info.user_relation == "private")))) %}
                <div class="post detail-box">
                    {# USER OF POST #}
                    <div class="media-left">
                        {# LINK TO USER'S PROFILE #}
                        <a href="{% if row.user %}{{ url_for('social.profile', google_id=row.user.google_id) }}
                        {% else %}#{% endif %}">
                            {% if row.user.image_url %}
                                <img class="media-object" src="{{ row.user.image_url }}"
                                     alt="{{ row.user.displayName }}'s Picture">
                                {# PLACEHOLDER IMAGE FOR USER'S PROFILE PIC #}
                            {% else %}
                                <img class="media-object"
                                     src="{{ url_for('frontend.static', filename='images/users/oddish.png') }}"
                                     alt="User has no profile picture">
                                {# PLACEHOLDER IMAGE FOR USER WITH NO PROFILE PICTURE #}
                            {% endif %}
                        </a>
                    </div>


                    {# POST CONTENT #}
                    <div class="media-body">

                        <div class="pull-right">
                            <ul class="list-inline">
                                {# LIKES COUNT #}
                                <li>
                                    {% for i in total_likes %}
                                        {% if i.postid == row.post.id %}
                                            <span style="color: gold"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            {{ i.likecount }}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {# DELETE POST #}
                                <li>
                                    {% if row.user.sql_id == session['uid'] %}
                                        <form action="{{ url_for('social.delete_post') }}" method="post">
                                            <input type="hidden" name="postid" value="{{ row.post.id }}">
                                            <button type="submit" name="submit" class="btn btn-grey"
                                                    aria-label="Left Align" value="deletePost">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <h4>
                            {{ row.user.displayName }}
                            <span class="date sub-text">posted on {{ row.post.date }}</span>
                            <span class="privacy sub-text">@{{ row.post.privacy }}</span>
                        </h4>
                        <p>{{ row.post.text }}</p>

                        {% if row.post.link %}
                            {# image/gif content #}
                            {% if ".jpg" in row.post.link or ".png" in row.post.link or ".gif" in row.post.link %}
                                <img class="attachedImg" src="{{ row.post.link }}"
                                     onclick="window.open('{{ row.post.link }}', '_blank');"/>
                            {# video content #}
                            {% elif "//www.youtube.com/" in row.post.link or "//vimeo.com" in row.post.link
                            or "//player.vimeo.com/video" in row.post.link %}
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="{{ row.post.link.replace("/watch?v=","/embed/")
                                            .replace("//vimeo.com", "//player.vimeo.com/video") }}"
                                            allowfullscreen>
                                        [Your browser does not support frames or is currently configured not to display
                                        frames.
                                        Please use an up-to-date browser that is capable of displaying frames.]
                                    </iframe>
                                </div>
                            {# other content #}
                            {% else %}
                                <div class='embed_link_preview'
                                     onclick="window.open('{{ row.post.link }}', '_blank'); return false;">
                                    {% if row.post.link_title %}
                                        <h4> {{ row.post.link_title }} </h4>
                                    {% endif %}
                                    <div class='url'>
                                        <em><a href="#"> {{ row.post.link }} </a></em>
                                    </div>
                                    {% if row.post.link_img %}
                                        <img src='{{ row.post.link_img }}' class='thumb'/>
                                    {% endif %}
                                    {% if row.post.link_description %}
                                        <p> {{ row.post.link_description }} </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div id="options">
                        <ul class="list-inline">
                            <li>
                                <form class="form-inline" action="{{ url_for('social.like_or_unlike_post') }}"
                                      method="post">
                                    <input type="hidden" name="postid" value="{{ row.post.id }}">

                                    <button type="submit" name="submit" class="btn btn-blue btn-sm"
                                            aria-label="Left Align"
                                            value="likePost" id="like">
                                        Like
                                    </button>
                                    {% for l in likes %}
                                        {% if l.postid == row.post.id %}
                                            {% if l.userid == session['uid'] %}
                                                <button type="submit" name="submit" class="btn btn-blue btn-sm"
                                                        aria-label="Left Align" value="unlikePost">
                                                    Unlike
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </li>
                            {% if row.user.sql_id == session['uid'] %}
                                <li>
                                    <button type="submit" class="btn btn-blue btn-sm" name="submit"
                                            value="edit" aria-label="Left Align"
                                            onclick="showEditCommentDiv('{{ row.post.id }}')">
                                        Edit
                                    </button>
                                    <div id="{{ row.post.id }}" class="form-controls"
                                         style="display:none; width: 100% ; text-align:left">
                                        <form action="{{ url_for('social.edit_post') }}" method="post">
                                            <input type="hidden" name="postid" value="{{ row.post.id }}">
                                            <div class="input-group">
                                                <input id="editedpost" name="editedpost" class="form-control"
                                                       value="{{ row.post.text }}">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-green" name="submit"
                                                            value="editComment" aria-label="right Align">
                                                        Update
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <strong>Comments:</strong>
                    {# POST'S COMMENTS #}
                    <div class="comment comment-box">
                        <ul class="comment-list">
                            {% if row.comments %}
                                {% for cmt in row.comments|sort(attribute='creation_time') %}
                                    {% if cmt.post_id == row.post.id and cmt.comment and cmt.comment.content %}
                                        <li>
                                            <div class="media-left">
                                                <a href="{% if cmt.google_id %}
                                                {{ url_for('social.profile', google_id= cmt.google_id) }}
                                                {% else %}#{% endif %}">
                                                    {# LINK TO USER'S PROFILE #}
                                                    {% if cmt.image_url %}
                                                        <img class="media-object" src="{{ cmt.image_url }}"
                                                             alt="{{ cmt.displayName }}'s Picture"/>
                                                        {# PLACEHOLDER IMAGE FOR USER'S PROFILE PIC #}
                                                    {% else %}
                                                        <img class="media-object"
                                                             src="{{ url_for('frontend.static', filename='images/users/gloom.png') }}"
                                                             alt=""/> {# PLACEHOLDER IMAGE FOR USER'S PROFILE PIC #}
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5>
                                                    <b>{{ cmt.displayName }}</b>
                                                    <span class="date sub-text">replied with</span>
                                                </h5>
                                                <div class="input-group col-md-12">
                                                    <p>{{ cmt.comment.content }}</p>
                                                    {% if cmt.user_sql_id == session['uid'] %}
                                                        <button type="submit" class="btn btn-blue btn-xs" name="submit"
                                                                value="edit"
                                                                aria-label="Left Align"
                                                                onclick="showEditCommentDiv('{{ cmt.comment.id }}')">
                                                            Edit
                                                        </button>

                                                        <div id="{{ cmt.comment.id }}" class="form-controls"
                                                             style="display:none; width: 100% ; text-align:left">
                                                            <form action="{{ url_for('social.edit_or_delete_comment') }}"
                                                                  method="post">
                                                                <div class="input-group">
                                                                    <input type="hidden" name="commentid"
                                                                           value="{{ cmt.comment.id }}">
                                                                    <div class="input-group input-group-sm">
                                                                <span class="input-group-btn">
                                                                <button type="submit" class="btn btn-danger"
                                                                        name="submit"
                                                                        value="deleteComment">
                                                                    Delete
                                                                </button>
                                                                    </span>
                                                                        <input id="editedcomment" name="editedcomment"
                                                                               class="form-control"
                                                                               value="{{ cmt.comment.content }}"
                                                                               placeholder="Edit comment">
                                                                <span class="input-group-btn">
                                                                <button type="submit" class="btn btn-green"
                                                                        name="submit"
                                                                        value="editComment">
                                                                    Update
                                                                </button>
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}

                                    {# edit comment #}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                    {# ADD COMMENT #}
                    <form action="{{ url_for('social.add_comment') }}" method="post">
                        <div class="input-group col-md-12">
                            <input type="hidden" name="postid" value="{{ row.post.id }}">
                            <input id="newcomment" name="newcomment" class="form-control" placeholder="Share comment">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-green">Comment</button>
                            </span>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not posts %}
        <p>There are no posts yet!</p>
    {% endif %}

{% endblock %}


{% block scripts %}
    <script>
        function showEditCommentDiv(id) {
            console.log(id)
            document.getElementById(id).style.display = "block";
        }
    </script>
{% endblock %}
