{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="page-header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Friends</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ url_for('social.friends') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;My Friends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search Friends</a></li>
            <li><a href="{{ url_for('social.pendingRequest') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Pending Requests</a></li>
            <li><a href="{{ url_for('social.recofriends') }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Recommended Friends</a></li>
        </ul>

        <table class="table">

            <!-- Search Results Div -->
            <div class="row">
                <br>
                {% if Friends or UnblockedFriend %}
                    <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>Username</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in Friends %}
                        <tr>
                            <td><img src="{{ row.n.image_url }}" class="img-circle" alt="User Image" width="60"
                                     height="60"></td>
                            <td><a href="profile/{{ row.n.google_id }}">{{ row.n.displayName }}</a></td>
                            <td>
                                <a type="button" href="{{ url_for('social.block_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-danger">Block</a>
                                <a type="button" href="{{ url_for('social.delete_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    {% for row in UnblockedFriend %}
                        <tr>
                            <td><img src="{{ row.n.image_url }}" class="img-circle" alt="User Image" width="60"
                                     height="60"></td>
                            <td><a href="profile/{{ row.n.google_id }}">{{ row.n.displayName }}</a></td>
                            <td>
                                <a type="button" href="{{ url_for('social.unblock_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-info">Unblock</a>
                                <a type="button" href="{{ url_for('social.delete_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-meh-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </ul>
                        <br/>
                        <ul>
                            Oops! No Friends !
                        </ul>
                    </div>
                {% endif %}
            </div>
        </table>
    </div>

{% endblock %}