{% extends "base.html" %}

{% block title %}Recommended Groups{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('social.static', filename='css/groups.css') }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <!-- Entire Page Div Container -->
    <div class="container" id="searchGroupsTab">

        <h3 class="page-header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Groups</h3>
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ url_for('social.groups') }}">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true"></span>&nbsp;Create Group
                </a>
            </li>
            <li>
                <a href="{{ url_for('social.self_groups') }}">
                    <span class="glyphicon glyphicon-user"
                          aria-hidden="true"></span>&nbsp;My Groups
                </a>
            </li>
            <li>
                <a href="{{ url_for('social.search_groups') }}">
                    <span class="glyphicon glyphicon-search"
                          aria-hidden="true"></span>&nbsp;Search Groups
                </a>
            </li>
            <li class="active">
                <a href="">
                <span class="glyphicon glyphicon-star"
                      aria-hidden="true"></span>&nbsp;Recommended Groups</a>
            </li>
        </ul>

        <br/>

        <!-- Recommended Groups Div -->
        <div class="container" id="recommendedGroupsTab">
            <h4 class="recommendedGroupsHeader"><b>Recommended Groups</b></h4>
            <hr>
            <!-- Div To Display Recommended Groups -->
            <div class="row recommendedGroups">
                {% if recommended_groups %}
                    {% for row in recommended_groups %}
                        <div class="row">
                            <ul class="pull-left">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                            </ul>
                            <br/>
                            <ul>
                                <a href="{{ url_for('social.view_group', group_uid=row.group.group_uid) }}">{{ row.group.name }}</a>
                            </ul>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-meh-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </ul>
                        <br/>
                        <ul>
                            Sorry, We did not find any recommended groups.
                        </ul>
                    </div>
                {% endif %}

            </div>
            <!-- End of Div To Display Recommended Groups -->

        </div>
        <!-- End of Recommended Groups Div -->

    </div>
    <!-- End of Entire Page Div Container -->

    <br/><br/>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}