{# THIS HTML PAGE IS NO LONGER NEEDED. #}

<!DOCTYPE html>
<meta charset="UTF-8">
<title>Feed1010-SocialNetwork</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Search Systems Page Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/system_search.css') }}">

<!-- Systems Page Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/system_social.css') }}">

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script>
<!--<link rel="stylesheet" href="static/css/main.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<link href="static/css/bootstrap.css" rel="stylesheet" />-->
<script src="https://plus.google.com/js/client:plusone.js"></script>


<style>
    body {
        background-color: #EEE;
    }

    .attachedImg {
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .post {
        background-color: #FFF;
        margin-bottom: 10px;
        width: 60%;
        padding: 20px;
        border-radius: 15px;
    }

    .post .media {
        width: 100%;
        text-align: center;
    }

    .post .dttime {
        float: right;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">Feed1010-Networking</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if session.uid %}
                <br>
                <ul id="main_menu" class="nav navbar-nav">

                    <li><a id="index" class="active" href="{{ url_for('social.index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li><a id="profile" href="{{ url_for('social.editprofile') }}">Profile</a></li>
                    <li><a id="friends" href="{{ url_for('social.friends') }}">Friends</a></li>
                    <li><a id="systems" href="{{ url_for('social.search_systems') }}">Systems</a></li>

                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li> Welcome {{ session.displayName }}!</li>
                    <br>
                    <li><a href="{{ url_for('social.logout') }}"> Logout </a></li>
                </ul>

            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if not session.uid %}
                    <br>
                    <li>Welcome Guest User!</li>
                    <br>
                    <li><a class="btn"
                           href="{{ url_for('social.Home') }}">Login
                        with Google+</a></li>
                {% endif %}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<script>
    $(function () {
        var current_page = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
        $("#main_menu").each(function () {
            if ($(this).attr("href") == current_page || $(this).attr("href") == '')
                $(this).addClass("active");
        })
    });
</script>
{% block script %}{% endblock %}






