{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% if session.uid %}
        <form action="{{ url_for('social.updateprofile') }}" method="post">

            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="imgstyle" id="userImage" src="{{ user['image_url'] }}"
                         height="200" width="200"/> <br/>
                    <a id="profileLink" class="btn btn-blue" target="_blank"
                       href="{{ "http://plus.google.com/" +  user['google_id'] }}">
                        My Google Plus Profile</a>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="txtFirstName">First Name:</label>
                        <input type="text" class="form-control" name="givenName" id="txtFirstName"
                               pattern=".{1,}" required
                               title="First Name Cannot Be Empty"
                               value= {% if user['givenName'] is not none %}
                                   "{{ user['givenName'] }}"
                               {% endif %}
                        > </input>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Last Name:</label>
                        <input type="text" class="form-control" name="familyName" id="txtLastName"
                               pattern=".{1,}" required
                               title="Last Name Cannot Be Empty"
                               value= {% if user['familyName'] is not none %}
                                   "{{ user['familyName'] }}"
                               {% endif %}
                        > </input>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email:</label>
                        <input type="text" class="form-control" name="email" id="txtEmail"
                               value={{ user['email'] }} readonly="readonly"> </input>
                    </div>
                    <div class="form-group">
                        <label for="txtDisplayName">Display Name:</label>
                        <input type="text" class="form-control" name="displayName" id="txtDisplayName"
                               pattern=".{1,}" required
                               title="Display Name Cannot Be Empty"
                               value= {% if user['displayName'] is not none %}
                                   "{{ user['displayName'] }}"
                               {% endif %}> </input>
                    </div>
                    <div class="form-group">
                        <b>Gender: &nbsp;</b>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="rbMale" value="male"
                                    {% if user['gender'] is not none and user['gender'] == 'male' %}
                                   checked {% endif %}/>Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="rbFemale" value="female"
                                    {% if user['gender'] is not none and user['gender'] == 'female' %}
                                   checked {% endif %}/>Female
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="rbUnknown" value={{ none }}
                                    {% if user['gender'] is none or user['gender'] == 'None' or user['gender'] =='none' %}
                                        checked {% endif %}/>Other
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="txtOrganization">Organization:</label>
                        <input type="text" class="form-control" name="organization" id="txtOrganization"
                               pattern=".{1,}" required
                               title="Organization Cannot Be Empty"
                               value= {% if user['organization'] is not none %}
                                   "{{ user['organization'] }}"
                               {% endif %}> </input>
                    </div>
                    <div class="form-group">
                        <label for="ddUserType">User Type:</label>
                        <select class="form-control" name="user_type" id="ddUserType" required>
                            <option value="">Please select</option>
                            <option value="subscriber"
                                    {% if user['user_type'] == 'subscriber' %} selected {% endif %}>Subscriber
                            </option>
                            <option value="farmer"
                                    {% if user['user_type'] == 'farmer' %} selected {% endif %}>Farmer
                            </option>
                            <option value="teacher"
                                    {% if user['user_type'] == 'teacher' %} selected {% endif %}>Teacher
                            </option>
                            <option value="student"
                                    {% if user['user_type'] == 'student' %} selected {% endif %}>Student
                            </option>
                        </select>
                    </div>
                    <div class="form-group" id="datetimepicker">
                        <!--retrieve dob and email from neo4j--> 
                        <label for="dtDOB">Date of Birth:</label> 
                        <input type="date" class="form-control" name="dob" id="dtDOB"
                               value = {% if user['dob'] is not none %}
                                   {{ user['dob'] }}
                               {% endif %}>
                        </input>
                    </div>
                    <button type="submit" class="btn btn-green form-control">Save</button>
                </div>
            </div>
        </form>

    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery Script To Display Logged In User Profile Details -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/profile_edit.js') }}"></script>
{% endblock %}

