{% extends "base.html" %}

{% block title %}Recommended Friends{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="page-header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Friends</h3>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('social.friends') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;MyFriends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search Friends</a></li>
            <li><a href="{{ url_for('social.pendingRequest') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Pending Requests</a></li>
            <li class="active"><a href="{{ url_for('social.recofriends') }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Recommended Friends</a></li>
        </ul>

        <table class="table">
            <br>
            <!-- Search Results Div -->
            <div class="row">
                {% if recolist %}
                    <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th><b>Recommended Friend Name</b></th>
                        <th><b>Mutual Friends</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in recolist %}
                        <tr>
                            <td><img src="{{ row['r_friend'].friend_image }}" class="img-circle" alt="User Image" width="60" height="60"></td>
                            <td>
                                <a href="profile/{{ row['r_friend'].gid }}">{{ row['r_friend'].FriendName }}</a>
                                {% if (row['r_friend'].Num_Mutual_Friends) == 1 %}
                                    <p>{{ row['r_friend'].Num_Mutual_Friends }} Mutual Friend</p>
                                {% else %}
                                    <p>{{ row['r_friend'].Num_Mutual_Friends }} Mutual Friends</p>
                                {% endif %}
                            </td>
                            <td>
                                {% for m_row in row['m_info'] %}
                                    <ul>
                                        <li>
                                            <a href="profile/{{ m_row.mf_gid }}">{{ m_row.mf_name }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}"
                                 alt="FriendRequest"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Oops! Please search add some friends first to get recommended friends!
                        </ul>
                    </div>
                {% endif %}
            </div>
        </table>
    </div>

{% endblock %}