{% extends "base.html" %}

{% block title %}Manage Systems{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('social.static', filename='css/system_manage.css') }}">
{% endblock %}

{% block content %}

    <!-- Entire Page Div Container -->
    <div class="container" id="manageSystemsTab">
        <span>
            <h3 class="page-header"><i class="fa fa-cog" aria-hidden="true"></i> Manage System</h3>
        </span>
        <ul class="nav nav-tabs" id="tab-headers">
            <li><a href="#pendingParticipantsTab">Pending Participant(s)</a></li>
            <li><a href="#adminTab">Admin(s)</a></li>
            <li><a href="#participantTab">Participant(s)</a></li>
            <li><a href="#subscriberTab">Subscriber(s)</a></li>
        </ul>
        <br>

        <!-- pendingParticipantsTab Tab -->
        <div class="container" id="pendingParticipantsTab">
            <!-- PendingParticipantsTab Results Div -->
            <div class="row settingsResults">
                <!-- Iterate Over The List Of Pending Participants -->
                {% if participants_pending_approval %}
                    <table class="table">
                        <thead>
                        <tr class="pendingParticipantTableHeader">
                            <th>Profile Picture</th>
                            <th>Display Name</th>
                            <th>Option(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Form Post To Approve/Reject Pending Participant(s) For The System -->
                        {% for pending_participant in participants_pending_approval %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=pending_participant[0]["google_id"]) }}">
                                        <img class="pendingParticipantImage img-circle"
                                             src="{{ pending_participant[0]["image_url"] }}">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=pending_participant[0]["google_id"]) }}">
                                        {% if pending_participant[0]["displayName"] is not none %}
                                            {{ pending_participant[0]["displayName"] }}
                                        {% else %}
                                            No Display Name
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('social.approve_reject_system_participant') }}"
                                          method="post">
                                        <input type="hidden" name="google_id"
                                               value="{{ pending_participant[0]["google_id"] }}">
                                        <input type="hidden" name="system_uid"
                                               value="{{ system_neo4j[0][0]["system_uid"] }}">
                                        <button type="submit" class="btn btn-green" name="submit"
                                                value="Approve" onclick="return getUserConsent()">Approve
                                        </button>
                                        <button type="submit" class="btn btn-danger" name="submit"
                                                value="Reject" onclick="return getUserConsent()">Reject
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sad Smiley When There Exists No Pending Participants For The System -->
                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="System"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Sorry, there are no Pending Participant(s) for this system.
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End of PendingParticipantsTab Results Div -->
        </div>
        <!-- End of pendingParticipantsTab Tab -->


        <!-- Manage Admin Div -->
        <div class="container" id="adminTab">
            <!-- Admin Results Div -->
            <div class="row adminResults">
                <!-- Iterate Over The List Of Admins -->
                {% if system_admins %}
                    <table class="table">
                        <thead>
                        <tr class="adminTableHeader">
                            <th>Profile Picture</th>
                            <th>Display Name</th>
                            <th>Option(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Form Post For Delete Of Admin(s) -->
                        {% for admin in system_admins %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=admin[0]["google_id"]) }}">
                                        <img class="adminImage img-circle" src="{{ admin[0]["image_url"] }}">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=admin[0]["google_id"]) }}">
                                        {% if admin[0]["displayName"] is not none %}
                                            {{ admin[0]["displayName"] }}
                                        {% else %}
                                            No Display Name
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('social.delete_system_admin') }}" method="post">
                                        <input type="hidden" name="google_id"
                                               value="{{ admin[0]["google_id"] }}">
                                        <input type="hidden" name="system_uid"
                                               value="{{ system_neo4j[0][0]["system_uid"] }}">
                                        <!-- Self Delete Is Prevented -->
                                        {% if admin[0]["sql_id"] != logged_in_user["sql_id"] %}
                                            <button type="submit" class="btn btn-danger" name="submit"
                                                    value="DeleteAdmin" onclick="return getUserConsent()">Delete
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sad Smiley When There Exists No Admin For The System -->
                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="System"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Sorry, there are no Admin(s) for this system.
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End Of Admin Results Div -->
        </div>
        <!-- End Of Manage Admin Div -->


        <!-- Manage Participants Div -->
        <div class="container" id="participantTab">
            <!-- Participant Results Div -->
            <div class="row participantResults">
                <!-- Iterate Over The List Of Participants -->
                {% if system_participants %}
                    <table class="table">
                        <thead>
                        <tr class="participantTableHeader">
                            <th>Profile Picture</th>
                            <th>Display Name</th>
                            <th>Option(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Form Post For Delete Of Participant(s) and Make Admin For The System -->
                        {% for participant in system_participants %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=participant[0]["google_id"]) }}">
                                        <img class="participantImage img-circle"
                                             src="{{ participant[0]["image_url"] }}">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=participant[0]["google_id"]) }}">
                                        {% if participant[0]["displayName"] is not none %}
                                            {{ participant[0]["displayName"] }}
                                        {% else %}
                                            No Display Name
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('social.delete_system_participant_or_make_admin') }}"
                                          method="post">
                                        <input type="hidden" name="google_id"
                                               value="{{ participant[0]["google_id"] }}">
                                        <input type="hidden" name="system_uid"
                                               value="{{ system_neo4j[0][0]["system_uid"] }}">
                                        <button type="submit" class="btn btn-danger" name="submit"
                                                value="DeleteParticipant" onclick="return getUserConsent()">Delete
                                        </button>
                                        <button type="submit" class="btn btn-green" name="submit"
                                                value="MakeAdmin" onclick="return getUserConsent()">Make Admin
                                        </button>
                                        <button type="submit" class="btn btn-green" name="submit"
                                                value="MakeSubscriber" onclick="return getUserConsent()">Make Subscriber
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sad Smiley When There Exists No Participants For The System -->
                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="System"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Sorry, there are no Participant(s) for this system.
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End Of Participant Results Div -->
        </div>
        <!-- End Of Manage Participants Div -->


        <!-- Manage Subscriber Div -->
        <div class="container" id="subscriberTab">
            <!-- Subscriber Results Div -->
            <div class="row subscriberResults">
                <!-- Iterate Over The List Of Subscribers -->
                {% if system_subscribers %}
                    <table class="table">
                        <thead>
                        <tr class="subscriberTableHeader">
                            <th>Profile Picture</th>
                            <th>Display Name</th>
                            <th>Option(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Form Post For Delete Of Subscriber(s) and Make Admin For The System -->
                        {% for subscriber in system_subscribers %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=subscriber[0]["google_id"]) }}">
                                        <img class="subscriberImage img-circle" src="{{ subscriber[0]["image_url"] }}">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('social.profile', google_id=subscriber[0]["google_id"]) }}">
                                        {% if subscriber[0]["displayName"] is not none %}
                                            {{ subscriber[0]["displayName"] }}
                                        {% else %}
                                            No Display Name
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <form action="{{ url_for('social.delete_system_subscriber_or_make_admin') }}"
                                          method="post">
                                        <input type="hidden" name="google_id"
                                               value="{{ subscriber[0]["google_id"] }}">
                                        <input type="hidden" name="system_uid"
                                               value="{{ system_neo4j[0][0]["system_uid"] }}">
                                        <button type="submit" class="btn btn-danger" name="submit"
                                                value="DeleteSubscriber" onclick="return getUserConsent()">Delete
                                        </button>
                                        <button type="submit" class="btn btn-green" name="submit"
                                                value="MakeAdmin" onclick="return getUserConsent()">Make Admin
                                        </button>
                                        <button type="submit" class="btn btn-green" name="submit"
                                                value="MakeParticipant" onclick="return getUserConsent()">Make
                                            Participant
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Sad Smiley When There Exists No Subscriber For The System -->
                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="System"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Sorry, there are no Subscriber(s) for this system.
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End Of Subscriber Results Div -->
        </div>
        <!-- End Of Manage Subscriber Div -->


        <!-- Span For Go Back To Systems Page Button -->
        <span>
            <a href="{{ url_for('social.view_system', system_uid= system_neo4j[0][0]["system_uid"]) }}">
                <h4 class="page-header"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back To System</h4>
            </a>
        </span>
        <!-- End Of Span For Go Back To Systems Page Button -->
    </div>
    <!-- End of Entire Page Div Container -->

    <br/><br/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery Script For DOM Manipulation In Manage Systems Page -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/system_manage.js') }}"></script>
{% endblock %}