.editBtn {
    margin-left: 3%;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

}

#top {
    display: block;
    height: 10px;
    margin: 10px auto 0;
    width: 650px;
}

/**** Form Section ****/
form ul {
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.form_description {
    border-bottom: 1px dotted #ccc;
    clear: both;
    display: inline-block;
    margin: 0 0 1em;
}

.form_description p {
    font-size: 95%;
    line-height: 130%;
    margin: 0 0 12px;
}

form hr {
    display: none;
}

form li.section_break {
    border-top: 1px dotted #ccc;
    margin-top: 9px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-top: 13px;
    width: 97% !important;
}

/**** Inputs and Labels ****/
label.description {
    border: none;
    color: #222;
    display: block;
    font-size: 95%;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 1px;
}

input.text {
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}

select.select {
    color: #333;
    font-size: 100%;
    margin: 1px 0;
    padding: 1px 0 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
}

/** for selected options **/
.segmented {
    display: inline-block;
}

.label {
    font-size: 100% !important;
    border-radius: 0em !important;
}

.segmented .label {
    display: inline !important;
    background-color: #ffffff !important;
    border: 2px #337ab7 !important;
    border-style: solid none solid solid !important;
    cursor: pointer !important;
    float: left !important;
    padding: 8px !important;
    text-align: center !important;
    color: #337ab7 !important;
    font-weight: 200 !important;
}

.segmented :first-child .label {
    border-radius: 10px 0 0 10px !important;
}

.segmented :last-child .label {
    border-radius: 0 10px 10px 0 !important;
    border-right-style: solid !important;
}

.segmented input {
    display: none !important;
}

.segmented input:checked + .label {
    background-color: #337ab7 !important;
    color: #fff !important;
}

/* ---------------- */

.segmented input:checked + span {
    background-color: #337ab7;
}

