.attachedImg {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.post {
    background-color: #FFF;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}
.post .media {
    width: 100%;
    text-align: center;
}
.post .dttime {
    float: right;
    margin-right: 20px;
}